@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
    background-color: black;
}

.container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container .text-title
{
    width: 100%;
}
.text-title h1
{
    font-size: 45px;
    color: white;
}

.card
{
    position: relative;
    width: 450px;
    height: 350px;
    align-items: center;
    margin-top: 100px;
    transition: 500ms;
    flex-basis: 30%;
    cursor: pointer;
}

.card .circle
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.card .circle::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #d83134;
    clip-path: circle(170px at center);
    transition: 0.5s;
}

.card:hover .circle::before
{
    background-color: black;
    clip-path: circle(230px at center);
}

.card img
{
    position: absolute;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 500ms;
}

.card:hover img
{
    left: 72%;
    height: 350px;
}

.card .content
{
    position: relative;
    width: 50%;
    left: 20%;
    top: 15%;
    padding: 20px 20px 20px 40px;
    transition: 500ms;
    opacity: 0;
    visibility: hidden;
}

.card:hover .content
{
    left: 0;
    opacity: 1;
    visibility: visible;
}

.card .content h2
{
    color: white;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 10px;

}

.card .content p
{
    color: white;
}

.card .content a
{
    display: inline-block;
}

.card .content img
{
    position: relative;
    height: 60px;
    margin-bottom: -90px;
    margin-left: -10px;
}

.container:hover .card
{
    filter: blur(3.5px);
}

.container:hover .card:hover
{
    filter: blur(0px);
}


@media (max-width:1100px)
{
    body {overflow: visible;}

    .container
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .text-title
    {
        margin-top: 80px;
    }

    .card
    {
        width: auto;
        margin-top: -12px;
        max-width: 350px;
        align-items: flex-start;
    }
    
    .card:hover img, .content
    {
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card .content
    {
        width: 100%;
    }

    .card .content a img
    {
        display: inline-block;
        width: 60px;
        height: 60px;
    }

    .card:hover img
    {
        top: 80%;
        left: 50%;
        height: 320px;
    }
}

@media(max-width:600px)
{
    .text-title h1
    {
        font-size: 30px;
    }
}